<?xml version="1.0" encoding="utf-8"?>
<xrmFramework selectedConnection="Xrm-Dev">
	<entitySolution name="EntitiesSolutionUniqueName" />
	<projects>
		<add name="NewSolution.Plugins" targetSolution="PluginsSolutionUniqueName" type="PluginsWorkflows" />
		<add name="NewSolution.Webresources" targetSolution="WebResourcesSolutionUniqueName" type="WebResources" />
	</projects>
</xrmFramework>